.questionPage{
    width: 100%;
    height: 850px;
    background-color:#f6f6f6;
}

.questionPageContent{
    width: 100%;
    height: 760px;
    display: flex;
    justify-content: center;
}

.questionPageContentMain{
    position: relative;
    top: 15px;
    width: 1038px;
    height: 760px;
    display: flex;
    align-items: flex-start;
}

//  左
.pageLists{
    display: inline-block;
    width: 232px;
    height: 760px;
    ul{
        width: 232px;
        height: 760px;
    }
    li{
        display: block;
        width: 232px;
        height: 46px;
        background-color: #ffffff;
        border: 1px solid #e4e4e6;
    }
}

.subjectList{
    padding-left: 28px;
    display: block;
    height: 46px;
    line-height: 46px;
    font-size: 14px;
    color: #282828;
}

//active 设置
.subjectListActive{
    font-size: 15px;
    color: #ffffff;
    background-color: #7ecef4;
    background-image: url(../../assets/imgs/questionPageSubjectListArrow.png);
    background-repeat: no-repeat;
    background-position: 200px 14px;
}



//pageContent

.pageContent{
    display: inline-block;
    margin: 0 16px 0px;
    width: 624px;
    height: 760px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
}

// .pageContentMain{
//     width: 600px;
//     height: 760px;
// }

// .pageContentTitle{
//     position: relative;
//     top: 15px;
//     width: 582px;
//     height: 66px;
//     border-bottom: 2px solid #eeeeee;
//     li{
//         display: inline-block;
//         width: 76px;
//         height: 66px;
//         line-height: 66px;
//     }
// }
// .pageContentTitleName{
//     display: inline-block;
//     font-size: 16px;
//     width: 76px;
//     height: 86px;
//     color: #282828;
//     text-align: center;
// }



//rightList

.rightList{
    display: inline-block;
    width: 154px;
    height: 760px;
    ul{
        width: 154px;
        height: 760px; 
    }
    li{
        display: block;
        width: 154px;
        height:160px;
        margin-bottom: 4px;
    }
}


//背景设置

.putQuestion{
    background-image: url(../../assets/imgs/questionPagePutQuestionBg.png);
}

.myQuestion{
    background-image: url(../../assets/imgs/questionPageMyQuestionBg.png);
}

.myAnswer{
    background-image: url(../../assets/imgs/questionPageMyAnswerBg.png);
}

.myHistory{
    background-image: url(../../assets/imgs/questionPageMyHistoryBg.png);
}


//字体设置
.rightListName{
    display: block;
    position: relative;
    top:20px;
    left: 20px;
    font-size: 22px;
    color: #ffffff;
    height: 26px;
    line-height: 26px;
}
