
.teacher-item{
    top: 0;
    display: flex;
    position: relative;
    flex-direction: row;
    margin-top: 1.5rem;
   margin-left: 4.225rem;
   width: 87%;

    height:6.625rem;
    border-radius: 25px;
    box-shadow: 0px 3px 1.94px 0.06px rgba(220, 219, 226, 0.54);
    background: #f4f3f0;

}
.teacher-item-top .teacher-item{
    background: linear-gradient(to right,#f2fcfe,#ebf3f4,#e6ebec);
}
.teacher-portrait{
    margin-left: -35px;
    height: 94px;
    width: 94px;
    display: flex;
    align-items: center;
   
}
.teacher-content{ 
    box-sizing: border-box;
    height: 100%;
    width: 75%;
    padding: 1.25rem 0;
    justify-content: space-between;
    margin-left:8px;
    display: flex;
    flex-direction: column;
    color:#4f5054;
    font-size: 0.875rem;
}
.spread-dot{

    display: inline-flex;
    justify-content: space-between;
    width:28px;
    height:12px;
    position: absolute;
    top:1.25rem;
    right: 2.5rem;
}
.spread-dot:hover{
    cursor: pointer;
}
.spread-dot i{
    display: inline-block;
    width: 6px;
    height:6px;
    border-radius:50% ;
    background-color:#d8d5cd ;
}
.search-tip-txt{
    color:#3a3d3f;
    font: size 0.875rem;
}
.teacher-content img{
    margin-right:6px;
}
.teacher-content span{
    margin-left: 14px;
}
.teacher-item-tip::before{
    content: '';
    width: 0px;
    height: 0px;
    border-width: 0 0.6rem 0.6rem 0.6rem;
    border-color: transparent;
    border-style: solid;
    border-bottom-color: rgb(255, 255, 255);
    box-sizing: content-box;
    position: absolute;
    top: -0.6rem;
    left: 50%;
}
.teacher-item-tip{
    z-index: 10;
    height: 7.8125rem;
    width:18.92%;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 4px;
    position: absolute;
    top: 3.125rem;
    right: 0rem;
    background: #ffffff;
    box-shadow: 0px 3px 12.48px 3.52px rgba(220, 219, 226, 0.33);

}

.teacher-item-tip-none{
    display: none;
    z-index: 10;
    height: 7.8125rem;
    width:18.92%;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 4px;
    position: absolute;
    top: 3.125rem;
    right: 0rem;
    background: #ffffff;
    box-shadow: 0px 3px 12.48px 3.52px rgba(220, 219, 226, 0.33);
}
.choose-list{
    width: 8.125rem;
    height: 100%;
    padding: 16% 16.67% 0;
    font-size: 0.875rem;
    color:#808080 ;
 
    z-index: 100;

}
.choose-list-none{
    width: 8.125rem;
    height: 100%;
    padding: 16% 16.67% 0;
    font-size: 0.875rem;
    color:#808080 ;
 
    z-index: 100;
    display: none;

}

.choose-list li{
    display: inline-block;
    line-height:2;
    border-bottom: rgba(220, 219, 226, 0.54) solid 1px;
    vertical-align: middle;
 
    z-index: 100;

}
.choose-list-none li{
    display: none;
}
.choose-list li i{
    background-color: #ffa20d;
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    margin-right: 0.5rem;
    vertical-align: middle;
    
    z-index: 100;

}