.search{
    background:#67c7f3;
    width: 64.6875rem;
    height: 4rem;
    position: relative;
}
/* @media (max-width:1240px){
    .search{
        width:50.08rem
    }
} */
.search-wrapper{
    background:#ffffff;
    width: 58.74%;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 1.2rem;
    height: 2rem;
    position: absolute;
    margin: auto;
   
     
}
.search{
    margin: 1.125rem auto 0.875rem;
}
.search-input{

    font-size:0.875rem;
    line-height: 1.8rem;
    width: 80%;
    margin:0 2rem 0;
}
.search-icon{
   vertical-align: middle;
}