.pageContent{
    display: inline-block;
    margin: 0 16px 0px;
    width: 624px;
    height: 760px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
}

.pageContentMain{
    width: 600px;
    height: 760px;
}

.pageContentTitle{
    position: relative;
    top: 15px;
    width: 582px;
    height: 66px;
    border-bottom: 2px solid #eeeeee;
    li{
        display: inline-block;
        width: 76px;
        height: 66px;
        line-height: 66px;
    }
}
.pageContentTitleName{
    display: inline-block;
    font-size: 16px;
    width: 76px;
    height: 66px;
    color: #282828;
    text-align: center;
    border-bottom: 2px solid #ffa20d;
}